<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Домашняя работа 3</title>
  </head>
  <body>
    <div id="app">
      <p v-if="visible" v-on:dblclick="visible = !visible">
        {{currentValue}}
      </p>
      <div v-else>
        <input type="text" v-model="currentValue" style="width: 250px;" />
        <button v-on:click="visible = !visible">Сохранить изменения</button>
      </div>
    </div>
    <script>
      let app = new Vue({
        el: "#app",
        data: {
          currentValue: "Измени моё содержимое",
          visible: true,
        },
      });
    </script>
  </body>
</html>
